.primary-button {
    -fx-background-color: orange;
    -fx-border-radius: 12px;
    -fx-background-radius: 0;
}

.primary-button:hover {
      -fx-background-color: #0B5AC8;

}

.primary-button:pressed {
    -fx-background-color: #762a03;
}

.primary-font {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -my-gap: 17;
}

.default-bg {
    -fx-background-color: #4c4e58;
}